﻿@import url('../../../../../wp-includes/css/dashicons.min.css'); /* hacky */

a.planet-button
{
	display:inline-block;
	color:#ffffff;
	text-decoration:none;
	margin: 3px 0;
}
a.planet-button:hover
{
	text-decoration:none;
}

a.planet-button.planet-ico:before, a.planet-button.planet-ico-before:before
{
	vertical-align:middle;
    display: inline-block;
	
    -webkit-font-smoothing: antialiased;
	margin-top:-2px;
}
a.planet-size-xsmall.planet-ico:before, a.planet-size-xsmall.planet-ico-before:before
{
   
    font:400 12px/1 dashicons;
	padding-right:4px;
	
}
a.planet-size-small.planet-ico:before, a.planet-size-small.planet-ico-before:before
{   
    font:400 14px/1 dashicons;
	padding-right:4px;
}
a.planet-size-medium.planet-ico:before, a.planet-size-medium.planet-ico-before:before
{
    font:400 16px/1 dashicons;
	padding-right:5px;
}
a.planet-size-large.planet-ico:before, a.planet-size-large.planet-ico-before:before
{
	font:400 20px/1 dashicons;
	padding-right:6px;
	line-height:22px;
}
a.planet-size-xlarge.planet-ico:before, a.planet-size-xlarge.planet-ico-before:before
{
	font:400 28px/1 dashicons;
	padding-right:6px;
	line-height:22px;
}


a.planet-button.ico-fa.planet-ico-before:before
{
	vertical-align:middle;
    display: inline-block;
	 font:400 12px/1 FontAwesome;
    -webkit-font-smoothing: antialiased;
	padding-top:0;
	padding-left:1px;
}
a.planet-size-xsmall.ico-fa.planet-ico-before:before
{
    font:400 11px/1 FontAwesome;
	padding-right:6px;
}
a.planet-size-small.ico-fa.planet-ico-before:before
{   
    font:400 13px/1 FontAwesome;
	padding-right:7px;

}
a.planet-size-medium.ico-fa.planet-ico-before:before
{
    font:400 15px/1 FontAwesome;
	padding-right:8px;
}
a.planet-size-large.ico-fa.planet-ico-before:before
{
	font:400 19px/1 FontAwesome;
	padding-right:9px;
	line-height:22px;
}
a.planet-size-xlarge.ico-fa.planet-ico-before:before
{
	font:400 28px/1 FontAwesome;
	padding-right:9px;
	line-height:22px;
}


/* sizes */
.planet-size-xsmall
{
	font-size:10px;
	padding:5px 7px;
	border:0;
}
.planet-size-small
{
	font-size:12px;
	padding:6px 8px;
	border:0;
}

.planet-size-medium
{
	font-size:14px;
	padding:7px 9px;
	font-size:14px;
	border:0;
}

.planet-size-large
{
	font-size:18px;
	padding:8px 10px;
	border:0;
}
.planet-size-xlarge
{
	font-size:24px;
	padding:11px 13px;
	border:0;
}


/* Types */
.planet-type-flat:hover
{
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}


/* glossy */

.planet-type-glossy
{	
	background-color: #247edd;
	border:1px solid rgba(0,0,0, 0.1);
	/*text-shadow:5px solid rgba(0,0,0, 0.5);*/
	
	/*-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);*/
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
	
}
.planet-type-glossy:hover
{
	/*-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);*/
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), 0(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 51%, rgba(0, 0, 0, 0.1));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 51%, rgba(0, 0, 0, 0.1));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 51%, rgba(0, 0, 0, 0.1));
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1) 51%, rgba(0, 0, 0, 0.1));
	
}


.planet-type-glossy.planet-size-xlarge
{
	
}
.planet-type-glossy.planet-size-large
{
	
}
.planet-type-glossy.planet-size-medium
{
	
}
.planet-type-glossy.planet-size-small
{
	
}
.planet-type-glossy.planet-size-xsmall
{
	
}



/* 3d */
.planet-type-popout.planet-size-xlarge
{
	-webkit-box-shadow: 7px 7px 0px #777777;
	-moz-box-shadow: 7px 7px 0px #777777;
	box-shadow: 7px 7px 0px #777777;
}
.planet-type-popout.planet-size-large
{
	-webkit-box-shadow: 6px 6px 0px #777777;
	-moz-box-shadow: 6px 6px 0px #777777;
	box-shadow: 6px 6px 0px #777777;
}
.planet-type-popout.planet-size-medium
{
	-webkit-box-shadow: 5px 5px 0px #777777;
	-moz-box-shadow: 5px 5px 0px #777777;
	box-shadow: 5px 5px 0px #777777;
}
.planet-type-popout.planet-size-small
{
	-webkit-box-shadow: 4px 4px 0px #777777;
	-moz-box-shadow: 4px 4px 0px #777777;
	box-shadow: 4px 4px 0px #777777;
}
.planet-type-popout.planet-size-xsmall
{
	-webkit-box-shadow: 3px 3px 0px #777777;
	-moz-box-shadow: 3px 3px 0px #777777;
	box-shadow: 3px 3px 0px #777777;
}
.planet-type-popout.planet-size-xlarge:hover
{
	-webkit-box-shadow: 5px 5px 0px #777777;
	-moz-box-shadow: 5px 5px 0px #777777;
	box-shadow: 5px 5px 0px #777777;
}
.planet-type-popout.planet-size-large:hover
{
	-webkit-box-shadow: 4px 4px 0px #777777;
	-moz-box-shadow: 4px 4px 0px #777777;
	box-shadow: 4px 4px 0px #777777;
}
.planet-type-popout.planet-size-medium:hover
{
	-webkit-box-shadow: 3px 3px 0px #777777;
	-moz-box-shadow: 3px 3px 0px #777777;
	box-shadow: 3px 3px 0px #777777;
}
.planet-type-popout.planet-size-small:hover
{
	-webkit-box-shadow: 3px 3px 0px #777777;
	-moz-box-shadow: 3px 3px 0px #777777;
	box-shadow: 3px 3px 0px #777777;
}
.planet-type-popout.planet-size-xsmall:hover
{
	-webkit-box-shadow: 2px 2px 0px #777777;
	-moz-box-shadow: 2px 2px 0px #777777;
	box-shadow: 2px 2px 0px #777777;
}


.planet-type-popout:hover
{
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

/* rounded */
a.planet-button.rounded.planet-size-xlarge, .planet-rounded-medium.planet-size-xlarge
{
	border-radius:15px;
}
a.planet-button.rounded.planet-size-large, .planet-rounded-medium.planet-size-large
{
	border-radius:10px;
}
a.planet-button.rounded.planet-size-medium, .planet-rounded-medium.planet-size-medium
{
	border-radius:9px;
}
a.planet-button.rounded.planet-size-small, .planet-rounded-medium.planet-size-small
{
	border-radius:8px;
}
a.planet-button.rounded.planet-size-xsmall, .planet-rounded-medium.planet-size-xsmall
{
	border-radius:7px;
}


/* css by spandan and team */

/* */
.simple {
	background:#226fbe;
	color: #fff;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.simple:active {
	top: 2px;
}

/* Button flat */
.flat {
	border: 2px solid #226fbe;
}

.flat:hover {
	background:#fff;
	color:#226fbe ;
}

/* Button edgflat edge */
.flat-edge {
	border: 2px solid #226fbe;
	border-radius: 15px;
}

.flat-edge:hover {
	background:#fff ;
	color: #226fbe;
}

/* Button rounded*/
.rounded {
	border: 2px solid #226fbe;
	border-radius: 60px;
}

.rounded:hover {
	background:#fff ;
	color: #226fbe;
}

/*button oval*/
 .oval {
  border: 2px solid #226fbe;
  border-radius:45%;
}

.oval:hover {
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

/* Button flat-dashed  */
.flat-dashed {
	border: 2px dashed #226fbe;
}

.flat-dashed:hover {
	background:#fff ;
	color: #226fbe;
}

/* Button flat edge-dashed */
.flat-edge-dashed  {
	border: 2px dashed #226fbe;
	border-radius: 15px;
}

.flat-edge-dashed:hover {
	background:#fff ;
	color: #226fbe;
}

/* Button rounded-dashed */
.rounded-dashed {
	border: 2px dashed #226fbe;
	border-radius: 60px;
}

.rounded-dashed:hover {
	background:#fff ;
	color: #226fbe;
}

/*button oval-dashed*/
 .oval-dashed {
  border: 2px dashed #226fbe;
  border-radius:45%;
}

.oval-dashed:hover {
  background:#fff ;
  color: #226fbe;
}
/* Button flat-dotted */
.flat-dotted {
	border: 2px dotted #226fbe;
}

.flat-dotted:hover {
	background:#fff ;
	color: #226fbe;
}

/* Button flat-edge-dotted */
.flat-edge-dotted {
	border: 2px dotted #226fbe;
	border-radius: 15px;
}

.flat-edge-dotted:hover {
	background:#fff ;
	color: #226fbe;
}

/* Button rounded-dotted */
.rounded-dotted{
	border: 2px dotted #226fbe;
	border-radius: 60px;
}

.rounded-dotted:hover {
	background:#fff ;
	color: #226fbe;
}

/*button oval-dotted*/
 .oval-dotted {
  border: 2px dotted #226fbe;
  border-radius:45%;
}

.oval-dotted:hover {
  background:#fff ;
  color: #226fbe;
}
/* Button flat-double */
.flat-double {
	border: 4px double #226fbe;
}

.flat-double:hover {
	background:#fff ;
	color: #226fbe;
}

/* Button flat-edge-double*/
.flat-edge-double {
	border: 4px double #226fbe;
	border-radius: 15px;
}

.flat-edge-double:hover {
	background:#fff ;
	color: #226fbe;
}

/* Button rounded-double */
.rounded-double {
	border: 4px double #226fbe;
	border-radius: 60px;
}

.rounded-double:hover {
	background:#fff ;
	color: #226fbe;
}

/*button oval-double*/
 .oval-double {
  border: 4px double #226fbe;
  border-radius:45%;
}


.oval-double:hover {
  background:#fff ;
  color: #226fbe;
}

/*for ghost*/

/*button ghost-flat*/
.ghost-flat {
  border: 2px solid #226fbe;
   color:#226fbe;
  background:#fff ;
}

.ghost-flat:hover {
  background:#fff;
  color:#226fbe ;
   background:#226fbe ;
  color:#fff ;
}
/*button ghost-flat-edge*/
.ghost-flat-edge {
  border: 2px solid #226fbe;
    border-radius: 15px;
   color:#226fbe;
  background:#fff ;
}

.ghost-flat-edge:hover {
  background:#fff;
  color:#226fbe ;
   background:#226fbe ;
  color:#fff ;
}
/*button ghost-rounded*/
.ghost-rounded{
  border: 2px solid #226fbe;
      border-radius: 60px;
   color:#226fbe;
  background:#fff ;
}

.ghost-rounded:hover {
  background:#fff;
  color:#226fbe ;
   background:#226fbe ;
  color:#fff ;
}

/*button ghost-oval*/
 .ghost-oval{
  border: 2px solid #226fbe;
  border-radius:45%;
  color:#226fbe;
  background:#fff ;
}


.ghost-oval:hover {
  background:#226fbe ;
  color:#fff ;
}

/*circle*/
 .circle {
	border: 1px solid #226fbe;
	border-radius:50%;
	height:auto;
	text-align: center;
	background:#226fbe;
	font-family: inherit;
	font-size: inherit;
	color: #fff;
	font-weight: 700;
	
}

.circle:hover {
	background:#fff;
	color:#226fbe ;
}

/*circlea*/
 .circlea {
	border: 4px double #226fbe;
	border-radius:50%;
	height:100px;
	width: 100px;
	text-align: center;
	background:#226fbe;
	font-family: inherit;
	font-size: inherit;
	color: #fff;
	font-weight: 700;
	
}


.circlea:hover {
	background:#fff ;
	color: #226fbe;
}


.white-inout .button-wrap {
  width: 120px;
  margin: 40px auto 0;
  cursor: pointer;
}
.white-inout .button-bg {
  width: 100%;
  height: 8%;
  background-color: #ddd;
  border-radius: 0px;
  padding: 3px;
  color:#fff;
  transition:all 0.2s ease;
}
.white-inout .button-active .button-bg {
  background-color: #22dd22;
}
.white-inout .button-switch {
  position:relative;
  left:0px;
  width: 64px;
  height: 44px;
  border:solid 13px;
  border-radius: 0px;
  transition:all 0.2s ease;
}
.white-inout .button-active .button-switch { left:50px; }
.white-inout .button-in, 
.white-inout .button-out {
  position:absolute; 
  transition:all 0.2s ease;
  padding-top:15px;
  font-size:0.8em;
  text-transform:uppercase;
  font-weight:bold;
}
.white-inout .button-in { margin-left:76px; }
.white-inout .button-out { margin-left:18px; color:#dd2222; }
.white-inout .button-active .button-out { color:#fff; }
.white-inout .button-active .button-in { color:#22dd22; }
.white-inout .button-active .button-bg { background-color:#000; }


/* iphone-white*/


.iphone-white .button-wrap {
  width: 100px;
  margin: 40px auto 0;
  cursor: pointer;
}
.iphone-white .button-bg {
  width: 100%;
  height: 8%;
  background-color: #ddd;
  border-radius: 40px;
  padding: 3px;
  color:#fff;
  transition:all 0.2s ease;
}
.iphone-white .button-switch {
  position:relative;
  left:0px;
  width: 44px;
  height: 44px;
  border:solid 13px;
  background-color:#fff;
  border-radius: 36px;
  transition:all 0.2s ease;
}
.iphone-white .button-active .button-switch { left:50px; }
.iphone-white .button-in, 
.iphone-white .button-out {
  position:absolute; 
  transition:all 0.2s ease;
  padding-top:15px;
  font-size:0.8em;
  text-transform:uppercase;
  font-weight:bold;
}
.iphone-white .button-in { margin-left:76px; }
.iphone-white .button-out { margin-left:18px; }
.iphone-white .button-active .button-out {  }
.iphone-white .button-active .button-in {  }
.iphone-white .button-active .button-bg { background-color:#22bb22; }


/* iphone-red */


.iphone-red .button-wrap {
  width: 100px;
  margin: 40px auto 0;
  cursor: pointer;
}
.iphone-red .button-bg {
  width: 100%;
  height: 8%;
  background-color: #bb2222;
  border-radius: 40px;
  padding: 3px;
  color:#fff;
  transition:all 0.2s ease;
}
.iphone-red .button-switch {
  position:relative;
  left:0px;
  width: 44px;
  height: 44px;
  border:solid 13px;
  background-color:#fff;
  border-radius: 36px;
  transition:all 0.2s ease;
}
.iphone-red .button-active .button-switch { left:50px; }
.iphone-red .button-in, 
.iphone-red .button-out {
  position:absolute; 
  transition:all 0.2s ease;
  padding-top:15px;
  font-size:0.8em;
  text-transform:uppercase;
  font-weight:bold;
}
.iphone-red .button-in { margin-left:76px; }
.iphone-red .button-out { margin-left:18px; }
.iphone-red .button-active .button-out {  }
.iphone-red .button-active .button-in {  }
.iphone-red .button-active .button-bg { background-color:#22bb22; }


/* flat-black */


.flat-black .button-wrap {
  width: 120px;
  margin: 40px auto 0;
  cursor: pointer;
}
.flat-black .button-bg {
  width: 100%;
  height: 8%;
  background-color: #000;
  border-radius: 40px;
  padding: 3px;
  color:#fff;
  transition:all 0.2s ease;
}
.flat-black :hover.button-bg {
  color:#22dd22;
}
.flat-black .button-active :hover.button-bg {

}
.flat-black .button-switch {
  position:relative;
  left:0px;
  width: 64px;
  height: 44px;
  background-color:#fff;
  /*border:solid 13px;*/
  border-radius: 36px;
  transition:all 0.2s ease;
}
.flat-black .button-active .button-switch { left:50px; }
.flat-black .button-in, 
.flat-black .button-out {
  position:absolute; 
  transition:all 0.2s ease;
  padding-top:15px;
  font-size:0.8em;
  text-transform:uppercase;
  font-weight:bold;
}
.flat-black .button-in { margin-left:82px; }
.flat-black .button-out { margin-left:12px; color:#dd2222; }
.flat-black .button-active .button-out { color:#fff; }
.flat-black .button-active .button-in { color:#22dd22; }
.flat-black .button-active .button-bg { background-color:#000; }

